.btn {
    background-color: #B45309 !important;
    color: white !important;
    font-weight: 700 !important;
    height: 42px !important;
    padding-top: 7px !important;
    box-shadow: 1px -3px 21px -12px #B45309;
    -webkit-box-shadow: 1px -3px 21px -12px #B45309;
    -moz-box-shadow: 1px -3px 21px -12px #B45309;
}